.jumbotron {
<<<<<<< HEAD
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 30px;
  margin-top: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
  color: #333;
}

.jumbotron p {
  color: #555;
}
=======
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 30px;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .jumbotron h1 {
    color: #333;
  }
  
  .jumbotron p {
    color: #555;
  }
  
>>>>>>> 82bb5cdf60ed2cb4dfac8e644e930593c664172e
